[submodule "themes/hugo.386"]
	path = themes/hugo.386
	url = https://github.com/maxlefou/hugo.386.git
[submodule "wizblog/themes/hugo.386"]
	path = wizblog/themes/hugo.386
	url = https://github.com/maxlefou/hugo.386.git
